body {
    font-family: "Helvetica", "Arial", "sans-serif";
}

.ingredients {
    border: 2px solid pink;
    padding: 10px;
}

.method {
    margin-top: 10px;
    border: 2px dashed pink;
    padding: 10px;
}

h1 {
    color: turquoise;
}

a:hover {
    color: pink;
}

a {
    color: turquoise;
}

#recipelist {
    width: 50%;
    margin: auto;
    border: 2px dashed pink;
    padding: 10px;
}

#intro {
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
}

#main {
    text-align: center;
    font-size: 40px;
}

h2 {
    color: purple;
}

#intro img {
    width: 500px;
    height: 300px;
    border: 2px solid purple;
}

#blog {
    padding: 20px;
    margin-top: 20px;
    font-size: 20px;
    background-color: pink; 
    border: none;
    border-radius: 2em;
}

#blog a {
    text-decoration: none;
    color: white;
}

